In [1]:
import pandas as pd

# -----------------------------------------------------
# 1. Class names
# -----------------------------------------------------

class_names = ['bas_road_marking', 'bench', 'board_sign', 'bus', 'rumble_strips', 'shelter','stop_sign', 'street_light', 'trash_bin', 'zebra_crossing']

# -----------------------------------------------------
# 2. HARD-CODE YOUR VALUES HERE
#    Each list must match order of class_names above
# -----------------------------------------------------

FP_values = [7, 32, 11, 1, 11, 15, 12, 53, 10, 1]
FN_values = [30, 52, 22, 5, 22, 26, 33, 76, 20, 7]
TP_values = [63, 166, 39, 18, 34, 209, 27, 145, 48, 5]



mAP50_values = [0.76, 0.83, 0.77, 0.96, 0.74, 0.94, 0.48, 0.75, 0.78, 0.43]

# -----------------------------------------------------
# 3. Create the dataframe from your hard-coded values
# -----------------------------------------------------
df = pd.DataFrame({
    "class_name": class_names,
    "TP": TP_values,
    "FP": FP_values,
    "FN": FN_values,
    "mAP50": mAP50_values
})

# 1. Sum TP, FP, FN
total_TP = df['TP'].sum()
total_FP = df['FP'].sum()
total_FN = df['FN'].sum()

# -----------------------------------------------------
# 4. Auto-calc precision + recall
# -----------------------------------------------------
def calc_precision(row):
    if row["TP"] is None or row["FP"] is None:
        return None
    total = row["TP"] + row["FP"]
    return row["TP"] / total if total > 0 else 0

def calc_recall(row):
    if row["TP"] is None or row["FN"] is None:
        return None
    total = row["TP"] + row["FN"]
    return row["TP"] / total if total > 0 else 0

df["precision"] = df.apply(calc_precision, axis=1)
df["recall"] = df.apply(calc_recall, axis=1)

# 2. Average mAP50, precision, recall
avg_mAP = df['mAP50'].mean()
avg_precision = df['precision'].mean()
avg_recall = df['recall'].mean()


# 3. Create the new row
all_row = pd.DataFrame([{
    'class_name': 'all',
    'TP': total_TP,
    'FP': total_FP,
    'FN': total_FN,
    'mAP50': avg_mAP,
    'precision': avg_precision,
    'recall': avg_recall
}])
# 4. Insert at the top of the df
df = pd.concat([df, all_row], ignore_index=True)

# round to 3 dp
df[['mAP50', 'precision', 'recall']] = df[['mAP50', 'precision', 'recall']].round(3)



print(df)

          class_name   TP   FP   FN  mAP50  precision  recall
0   bas_road_marking   63    7   30  0.760      0.900   0.677
1              bench  166   32   52  0.830      0.838   0.761
2         board_sign   39   11   22  0.770      0.780   0.639
3                bus   18    1    5  0.960      0.947   0.783
4      rumble_strips   34   11   22  0.740      0.756   0.607
5            shelter  209   15   26  0.940      0.933   0.889
6          stop_sign   27   12   33  0.480      0.692   0.450
7       street_light  145   53   76  0.750      0.732   0.656
8          trash_bin   48   10   20  0.780      0.828   0.706
9     zebra_crossing    5    1    7  0.430      0.833   0.417
10               all  754  153  293  0.744      0.824   0.659